<hr />

<ul class="small">
  <li data-marker="*">
    <a href="https://ide.cs50.io/">Online IDE</a>
  </li>
  <li data-marker="*">
    <a href="https://sandbox.cs50.io/">C/C++ Sandbox</a>
  </li>
  <li data-marker="*">
    <a href="https://sqlitebrowser.org/">DB Browser for SQLite</a>
  </li>
<!--
  <li data-marker="*">
    <a href="https://man.cs50.io/">Manual Pages</a>
  </li>
-->
  <li data-marker="*">
    <a href="https://docs.python.org/3.7/search.html"
      >Python Documentation</a
    >
  </li>
  <li data-marker="*">
    <a href="https://stackoverflow.com/search">Stack Overflow</a>
  </li>
<!--
  <li data-marker="*">
    <a href="https://cs50.readthedocs.io/style/c/">Style Guide</a>
  </li>
-->
</ul>

<hr />